<!doctype html>
<html>
  <head>
    <title>Agent Chat</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body id="body_agent">
    <div class="parent" id="parent">

      <!-- Room List -->
      <div id="list">
        <div id="list_header">Room List</div>
        <div class="form_agent" name="form_agent">
          <input type="button" class="btn_testA" name="btn_msg" value="send Room #1 #2" />
          <input type="button" class="btn_testA" name="btn_ns" value="over NameSpace" />
          <input type="button" class="btn_testB" name="btn_mix" value="over NameSpace send Room #1 #2" />
        </div>
        <div id="room_list">
          <% lists.forEach(function(item) { %>
            <div class="room_list_div" id="room_list_div-<%= item.room_id %>">
              <!-- Room # <%= item.room_id %> -->
              Room # <%= item.room_id %> : <%= item.visitor_id %>
            </div>
          <% }); %>
        </div>
      </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      let chatSocket = io.connect('http://localhost:3000/chat', { query: {'userType':'agent', 'chatId':'<%= chatId %>'} });
      let statusSocket = io.connect('http://localhost:3000/status', { query: "userType=agent" });
    </script>
    <script src="/js/chat.js" type="text/javascript"></script>
    </body>
</html>
